.containerHeader {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

.groupItemHeader {
    display: flex;
}

.itemHeader {
    padding: 1em;
}

.imgResponsiveHeaderLogo {
    width: 5em;
}

.linkHeader {
    color: #000;
}

.linkHeader:hover {
    text-decoration: underline;
}